.tiptap {
  min-height: 80vh;
}

.tiptap h1 {
  font-size: 24px;
}

.tiptap .ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--grey-400);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.tiptap ol {
  list-style: disc;
}

.tiptap ul {
  list-style: decimal;
}

ol p.mb-6,
li p.mb-6 {
  margin-bottom: 0 !important;
}
